{% extends 'base.html.twig' %}



{% block title %}
Rock, Paper, Scissors, Spock, Lizard
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <script src="{{ asset('js/rpsls.js') }}"></script>

    <img src="{{ asset('images/RPSSL.gif') }}">

    <h1>CHOOSE... but choose wisely.</h1>

    <img class="choice" id="rock" src="{{ asset('images/rock.jpeg') }}" onclick="doIt('rock', randomChoice)">
    <img class="choice" id="paper" src="{{ asset('images/paper.jpeg') }}" onclick="doIt('paper', randomChoice)">
    <img class="choice" id="scissors" src="{{ asset('images/scissors.jpeg') }}" onclick="doIt('scissors', randomChoice)">
    <img class="choice" id="spock" src="{{ asset('images/spock.jpeg') }}" onclick="doIt('spock', randomChoice)">
    <img class="choice" id="lizard" src="{{ asset('images/lizard.jpeg') }}" onclick="doIt('lizard', randomChoice)">

    <h2>COMPUTER:</h2>    <h2>PITIFUL HUMAN:</h2>

{% endblock %}